.navbar {
  /* background-color: #36454f; */
  background-color: #7b919f;
}

.navbar-nav .nav-item .nav-link {
  margin-right: 10px; /* Increase this value to adjust the space between icons */
}

.material-icons {
  /* custom cursor images by providing the URL of the image file: */
  /* cursor: url('custom-cursor.png'), auto; */
  cursor: pointer;
  font-size: 21px;
  margin: 3px;
}

#uploaddiv2 {
  display: none;
  height: 40%;
  width: 50%;
  padding: 10px;
  border: 1px solid;
  background-color: #c0c0c0;
  /* z-index: 122px; */
  position: absolute;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 12px 10px #888888;
}

#uploaddiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
